<section class="ns-box container-full" id="alerts">
    <header class="ns-box__header">
        <h2 class="ns-box__title">Alerts</h2>
    </header>
    <div>
        <div class="grid">
            <div class="col-6">
                <article>
                    <header>
                        <h3 class="o-title o-title--h5 t-margin-bottom-10">Normal</h3>
                    </header>
                    <div>
                        <div class="o-alert o-alert--default">
                            <p class="o-alert__txt">A simple default alert—check it out!</p>
                        </div>
                        <div class="o-alert o-alert--primary">
                            <p class="o-alert__txt">A simple primary alert—check it out!</p>
                        </div>
                        <div class="o-alert o-alert--success">
                            <p class="o-alert__txt">A simple success alert—check it out!</p>
                        </div>
                        <div class="o-alert o-alert--danger">
                            <p class="o-alert__txt">A simple danger alert—check it out!</p>
                        </div>
                        <div class="o-alert o-alert--warning">
                            <p class="o-alert__txt">A simple warning alert—check it out!</p>
                        </div>
                        <div class="o-alert o-alert--info">
                            <p class="o-alert__txt">A simple info alert—check it out!</p>
                        </div>
                        <div class="o-alert o-alert--darken">
                            <p class="o-alert__txt">A simple darken alert—check it out!</p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-6">
                <article>
                    <header>
                        <h3 class="o-title o-title--h5 t-margin-bottom-10">Close</h3>
                    </header>
                    <div>
                        <div class="o-alert o-alert--default o-alert--close">
                            <button class="o-alert__close"><span>&times;</span></button>
                            <p class="o-alert__txt">A simple default alert—check it out!</p>
                        </div>
                        <div class="o-alert o-alert--primary o-alert--close">
                            <button class="o-alert__close"><span>&times;</span></button>
                            <p class="o-alert__txt">A simple primary alert—check it out!</p>
                        </div>
                    </div>
                </article>
                <article>
                    <header>
                        <h3 class="o-title o-title--h5 t-margin-bottom-10">Icon</h3>
                    </header>
                    <div>
                        <div class="o-alert o-alert--success o-alert--close o-alert--icon">
                            <button class="o-alert__close"><span>&times;</span></button>
                            <span class="o-alert__icon fa fa-check"></span>
                            <p class="o-alert__txt">A simple success alert—check it out!</p>
                        </div>
                        <div class="o-alert o-alert--danger o-alert--close o-alert--icon">
                            <button class="o-alert__close"><span>&times;</span></button>
                            <span class="o-alert__icon fa fa-times"></span>
                            <p class="o-alert__txt">A simple danger alert—check it out!</p>
                        </div>
                        <div class="o-alert o-alert--info o-alert--close o-alert--icon">
                            <button class="o-alert__close"><span>&times;</span></button>
                            <span class="o-alert__icon fa fa-info-circle"></span>
                            <p class="o-alert__txt">A simple info alert—check it out!</p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>