<section class="ns-box container-full" id="breadcrumb">
    <header class="ns-box__header">
        <h2 class="ns-box__title">Breadcrumb</h2>
    </header>
    <div>
        <div class="grid">
            <div class="col-3">
                <nav class="o-breadcrumb" aria-label="breadcrumb">
                    <ol class="o-breadcrumb__list">
                        <li class="o-breadcrumb__item">
                            <a class="o-breadcrumb__lnk" href="#" title="Go to home">Home</a>
                        </li>
                        <li class="o-breadcrumb__item">
                            <a class="o-breadcrumb__lnk" href="#" title="Go to library">Library</a>
                        </li>
                        <li class="o-breadcrumb__item" aria-current="page">
                            <span class="o-breadcrumb__txt">Data</span>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>