<section class="ns-box container-full" id="button">
    <header class="ns-box__header">
        <h2 class="ns-box__title">Buttons</h2>
    </header>
    <div>
        <div class="grid">
            <div class="col-12">
                <article>
                    <header>
                        <h3 class="o-title o-title--h5 t-margin-bottom-10">Normal</h3>
                    </header>
                    <div class="ns-box__container-btn">
                        <button class="o-btn o-btn--default" type="button">Default</button>
                        <button class="o-btn o-btn--primary" type="button">Primary</button>
                        <button class="o-btn o-btn--success" type="button">Success</button>
                        <button class="o-btn o-btn--danger" type="button">Danger</button>
                        <button class="o-btn o-btn--warning" type="button">Warning</button>
                        <button class="o-btn o-btn--info" type="button">Info</button>
                        <button class="o-btn o-btn--darken" type="button">Darken</button>
                    </div>
                </article>
            </div>
            <div class="col-12">
                <article>
                    <header>
                        <h3 class="o-title o-title--h5 t-margin-bottom-10">Disabled</h3>
                    </header>
                    <div class="ns-box__container-btn">
                        <button class="o-btn o-btn--default" type="button" disabled>Default</button>
                        <button class="o-btn o-btn--primary" type="button" disabled>Primary</button>
                        <button class="o-btn o-btn--success" type="button" disabled>Success</button>
                        <button class="o-btn o-btn--danger" type="button" disabled>Danger</button>
                        <button class="o-btn o-btn--warning" type="button" disabled>Warning</button>
                        <button class="o-btn o-btn--info" type="button" disabled>Info</button>
                        <button class="o-btn o-btn--darken" type="button" disabled>Darken</button>
                    </div>
                </article>
            </div>
            <div class="col-6">
                <article>
                    <header>
                        <h3 class="o-title o-title--h5 t-margin-bottom-10">Block</h3>
                    </header>
                    <div>
                        <button class="o-btn o-btn--default o-btn--block o-btn--lg t-margin-bottom-5" type="button">Block button</button>
                        <button class="o-btn o-btn--primary o-btn--block o-btn--lg" type="button">Block button</button>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>