<section class="ns-box container-full" id="cards">
    <header class="ns-box__header">
        <h2 class="ns-box__title">Card</h2>
    </header>
    <div>
        <div class="grid">
            <div class="col-4">
                <article class="o-card">
                    <header class="o-card__header">
                        <figure class="o-card__image">
                            <img src="../../assets/images/sidebar-wall.png" alt="Imagen de la tarjeta" />
                        </figure>
                    </header>
                    <section class="o-card__container">
                        <p class="o-card__title">Card title</p>
                        <p class="o-card__subtitle">Card subtitle</p>
                        <p class="o-card__txt">Some quick example text to build on the card title and
                            make up the bulk of the card's content.</p>
                    </section>
                    <footer class="o-card__footer">
                        <a href="#" class="o-card__lnk o-txt o-txt--link">Card link</a>
                    </footer>
                </article>
            </div>
        </div>
    </div>
</section>