<section class="ns-box container-full" id="checkbox">
    <header class="ns-box__header">
        <h2 class="ns-box__title">Checkbox</h2>
    </header>
    <div>
        <div class="grid">
            <div class="col-3">
                <article>
                    <header>
                        <h3 class="o-title o-title--h5 t-margin-bottom-10">Normal</h3>
                    </header>
                    <div>
                        <label class="o-checkbox" for="checkbox_normal_unchecked">
                            <input class="o-checkbox__ipt" type="checkbox" id="checkbox_normal_unchecked" name="checkbox_normal_unchecked" />
                            <span class="o-checkbox__label">
                                <i class="o-checkbox__icon"></i>
                                <span class="o-checkbox__txt"> Acepto la politica de privacidad</span>
                            </span>
                        </label>
                    </div>
                </article>
                <article>
                    <header>
                        <h3 class="o-title o-title--h5 t-margin-bottom-10">Normal checked</h3>
                    </header>
                    <div>
                        <label class="o-checkbox" for="checkbox_normal">
                            <input class="o-checkbox__ipt" type="checkbox" id="checkbox_normal" name="checkbox_normal" checked />
                            <span class="o-checkbox__label">
                                <i class="o-checkbox__icon"></i>
                                <span class="o-checkbox__txt"> Acepto la politica de privacidad</span>
                            </span>
                        </label>
                    </div>
                </article>
                <article>
                    <header>
                        <h3 class="o-title o-title--h5 t-margin-bottom-10">Disabled unchecked</h3>
                    </header>
                    <div>
                        <label class="o-checkbox" for="checkbox_disabled">
                            <input class="o-checkbox__ipt" type="checkbox" id="checkbox_disabled" name="checkbox_disabled" disabled />
                            <span class="o-checkbox__label">
                                <i class="o-checkbox__icon"></i>
                                <span class="o-checkbox__txt"> Acepto la politica de privacidad</span>
                            </span>
                        </label>
                    </div>
                </article>
                <article>
                    <header>
                        <h3 class="o-title o-title--h5 t-margin-bottom-10">Disabled checked</h3>
                    </header>
                    <div>
                        <label class="o-checkbox" for="checkbox_disabled_checked">
                            <input class="o-checkbox__ipt" type="checkbox" id="checkbox_disabled_checked" name="checkbox_disabled_checked" disabled checked />
                            <span class="o-checkbox__label">
                                <i class="o-checkbox__icon"></i>
                                <span class="o-checkbox__txt"> Acepto la politica de privacidad</span>
                            </span>
                        </label>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>