<section class="ns-box container-full" id="inputs">
    <header class="ns-box__header">
        <h2 class="ns-box__title">Inputs</h2>
    </header>
    <div>
        <div class="grid">
            <div class="col-6">
                <div class="o-form-control">
                    <label for="input_normal" class="o-form-control__label">Input normal</label>
                    <input class="o-form-control__input o-input" type="text" id="input_normal" name="input_normal"
                        placeholder="Escribe algo..." />
                    <p class="o-form-control__msg">Input obligatorio</p>
                </div>
                <div class="o-form-control">
                    <label for="input_disabled" class="o-form-control__label">Input disabled</label>
                    <input class="o-form-control__input o-input" type="text" id="input_disabled" name="input_disabled"
                        placeholder="Escribe algo..." disabled />
                    <p class="o-form-control__msg">Input obligatorio</p>
                </div>
                <div class="o-form-control">
                    <label for="input_readonly" class="o-form-control__label">Input readonly</label>
                    <input class="o-form-control__input o-input" type="text" id="input_readonly" name="input_readonly"
                        placeholder="Escribe algo..." readonly />
                    <p class="o-form-control__msg">Input obligatorio</p>
                </div>
                <div class="o-form-control o-form-control--danger">
                    <label for="input_danger" class="o-form-control__label">Input danger</label>
                    <input class="o-form-control__input o-input o-input--danger" type="text" id="input_danger"
                        name="input_danger" placeholder="Escribe algo..." />
                    <p class="o-form-control__msg">Campo requerido</p>
                </div>
                <div class="o-form-control o-form-control--success">
                    <label for="input_success" class="o-form-control__label">Input success</label>
                    <input class="o-form-control__input o-input o-input--success" type="text" id="input_success"
                        name="input_success" placeholder="Escribe algo..." />
                    <p class="o-form-control__msg">Campo requerido</p>
                </div>
                <div class="o-form-control o-form-control--info">
                    <label for="input_info" class="o-form-control__label">Input info</label>
                    <input class="o-form-control__input o-input o-input--info" type="text" id="input_info"
                        name="input_info" placeholder="Escribe algo..." />
                    <p class="o-form-control__msg">Campo informativo</p>
                </div>
            </div>
            <div class="col-6">
                <div class="o-form-control">
                    <label for="input_textarea" class="o-form-control__label">Textarea</label>
                    <textarea class="o-form-control__input o-input" id="input_textarea" name="input_textarea"
                        placeholder="Escribe algo..." rows="4"></textarea>
                    <p class="o-form-control__msg">Campo informativo</p>
                </div>
                <div class="o-form-control">
                    <label for="input_textarea_disabled" class="o-form-control__label">Textarea disabled</label>
                    <textarea class="o-form-control__input o-input" id="input_textarea_disabled" name="input_textarea"
                        placeholder="Escribe algo..." rows="4" disabled></textarea>
                    <p class="o-form-control__msg">Campo informativo</p>
                </div>
                <div class="o-form-control">
                    <label for="input_textarea_readonly" class="o-form-control__label">Textarea readonly</label>
                    <textarea class="o-form-control__input o-input" id="input_textarea_readonly" name="input_textarea"
                        placeholder="Escribe algo..." rows="4" readonly></textarea>
                    <p class="o-form-control__msg">Campo informativo</p>
                </div>
            </div>
        </div>
    </div>
</section>