<section class="ns-box container-full" id="radio">
    <header class="ns-box__header">
        <h2 class="ns-box__title">Radiobutton</h2>
    </header>
    <div>
        <div class="grid">
            <div class="col-12">
                <article>
                    <header>
                        <h2 class="o-title o-title--h5 t-margin-bottom-10">Normal</h2>
                    </header>
                    <div>
                        <label class="o-radio" for="radio_normal_1">
                            <input class="o-radio__ipt" type="radio" id="radio_normal_1" name="radio_normal" checked />
                            <span class="o-radio__label">
                                <i class="o-radio__icon"></i>
                                <span class="o-radio__txt"> Si</span>
                            </span>
                        </label>
                        <label class="o-radio" for="radio_normal_2">
                            <input class="o-radio__ipt" type="radio" id="radio_normal_2" name="radio_normal" />
                            <span class="o-radio__label">
                                <i class="o-radio__icon"></i>
                                <span class="o-radio__txt"> No</span>
                            </span>
                        </label>
                    </div>
                </article>
                <article>
                    <header>
                        <h2 class="o-title o-title--h5 t-margin-bottom-10">Disabled / checked</h2>
                    </header>
                    <div>
                        <label class="o-radio" for="radio_disabled_1">
                            <input class="o-radio__ipt" type="radio" id="radio_disabled_1" name="radio_disabled" disabled
                                checked />
                            <span class="o-radio__label">
                                <i class="o-radio__icon"></i>
                                <span class="o-radio__txt"> Disabled option 1 - checked</span>
                            </span>
                        </label>
                        <label class="o-radio" for="radio_disabled_2">
                            <input class="o-radio__ipt" type="radio" id="radio_disabled_2" name="radio_disabled" disabled />
                            <span class="o-radio__label">
                                <i class="o-radio__icon"></i>
                                <span class="o-radio__txt"> Disabled option 2</span>
                            </span>
                        </label>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>