<section class="ns-box container-full" id="reflex">
    <header class="ns-box__header">
        <h2 class="ns-box__title">Reflex</h2>
    </header>
    <div>
        <div class="grid">
            <div class="col-12">
                <h2 class="o-title o-title--h5">normal</h2>
            </div>
        </div>
        <div class="grid">
            <div class="col-1">
                <p class="ns-grid-container">col-1</p>
            </div>
            <div class="col-1">
                <p class="ns-grid-container">col-1</p>
            </div>
            <div class="col-1">
                <p class="ns-grid-container">col-1</p>
            </div>
            <div class="col-1">
                <p class="ns-grid-container">col-1</p>
            </div>
            <div class="col-1">
                <p class="ns-grid-container">col-1</p>
            </div>
            <div class="col-1">
                <p class="ns-grid-container">col-1</p>
            </div>
            <div class="col-1">
                <p class="ns-grid-container">col-1</p>
            </div>
            <div class="col-1">
                <p class="ns-grid-container">col-1</p>
            </div>
            <div class="col-1">
                <p class="ns-grid-container">col-1</p>
            </div>
            <div class="col-1">
                <p class="ns-grid-container">col-1</p>
            </div>
            <div class="col-1">
                <p class="ns-grid-container">col-1</p>
            </div>
            <div class="col-1">
                <p class="ns-grid-container">col-1</p>
            </div>
        </div>
        <div class="grid">
            <div class="col-12">
                <h2 class="o-title o-title--h5">Adaptable</h2>
            </div>
        </div>
        <div class="grid">
            <div class="col-sm-6">
                <p class="ns-grid-container">col-sm-6</p>
            </div>
            <div class="col-sm-6">
                <div class="grid">
                    <div class="col-6">
                        <p class="ns-grid-container">col-6</p>
                    </div>
                    <div class="col-6">
                        <p class="ns-grid-container">col-6</p>
                    </div>
                    <div class="col-6">
                        <p class="ns-grid-container">col-6</p>
                    </div>
                    <div class="col-6">
                        <p class="ns-grid-container">col-6</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid">
            <div class="col-12">
                <h2 class="o-title o-title--h5">Order</h2>
                <h3 class="o-title o-title--h6">order-&lt;n&gt;</h3>
            </div>
        </div>
        <div class="grid">
            <div class="col-4 order-2">
                <p class="ns-grid-container">First - order-2</p>
            </div>
            <div class="col-4 order-3">
                <p class="ns-grid-container">Second - order-3</p>
            </div>
            <div class="col-4 order-1">
                <p class="ns-grid-container">Third - order-1</p>
            </div>
        </div>
        <div class="grid">
            <div class="col-12">
                <h2 class="o-title o-title--h5">Row reverse</h2>
                <h3 class="o-title o-title--h6">direction-row-reverse</h3>
            </div>
        </div>
        <div class="grid direction-row-reverse">
            <div class="col-4">
                <p class="ns-grid-container">First</p>
            </div>
            <div class="col-4">
                <p class="ns-grid-container">Second</p>
            </div>
            <div class="col-4">
                <p class="ns-grid-container">Third</p>
            </div>
        </div>
        <div class="grid">
            <div class="col-12">
                <h2 class="o-title o-title--h5">Column</h2>
                <h3 class="o-title o-title--h6">direction-column</h3>
            </div>
        </div>
        <div class="grid direction-column">
            <div class="col-12">
                <p class="ns-grid-container">First</p>
            </div>
            <div class="col-12">
                <p class="ns-grid-container">Second</p>
            </div>
            <div class="col-12">
                <p class="ns-grid-container">Third</p>
            </div>
        </div>
        <div class="grid">
            <div class="col-12">
                <h2 class="o-title o-title--h5">Column reverse</h2>
                <h3 class="o-title o-title--h6">direction-column-reverse</h3>
            </div>
        </div>
        <div class="grid direction-column-reverse">
            <div class="col-12">
                <p class="ns-grid-container">First</p>
            </div>
            <div class="col-12">
                <p class="ns-grid-container">Second</p>
            </div>
            <div class="col-12">
                <p class="ns-grid-container">Third</p>
            </div>
        </div>
        <div class="grid">
            <div class="col-12">
                <h2 class="o-title o-title--h5">Offset</h2>
                <h3 class="o-title o-title--h6">offset-&lt;n&gt;</h3>
            </div>
        </div>
        <div class="grid direction-row">
            <div class="col-md-6 offset-3">
                <p class="ns-grid-container">col-md-6 offset-3</p>
            </div>
            <div class="col-md-5 offset-6">
                <p class="ns-grid-container">col-md-5 offset-6</p>
            </div>
            <div class="col-md-8 offset-4">
                <p class="ns-grid-container">col-md-8 offset-4</p>
            </div>
        </div>
        <div class="grid">
            <div class="col-12">
                <h2 class="o-title o-title--h5">Padding out grid</h2>
                <h3 class="o-title o-title--h6">grid-bleed</h3>
            </div>
        </div>
        <div class="grid grid-bleed">
            <div class="col-md-4">
                <p class="ns-grid-container">col-md-4</p>
            </div>
            <div class="col-md-4">
                <p class="ns-grid-container">col-md-4</p>
            </div>
            <div class="col-md-4">
                <p class="ns-grid-container">col-md-4</p>
            </div>
        </div>
        <div class="grid">
            <div class="col-12">
                <h2 class="o-title o-title--h5">Padding out col</h2>
                <h3 class="o-title o-title--h6">col-bleed</h3>
            </div>
        </div>
        <div class="grid">
            <div class="col-md-4">
                <p class="ns-grid-container">col-md-4</p>
            </div>
            <div class="col-md-4 col-bleed">
                <p class="ns-grid-container">col-md-4 col-bleed</p>
            </div>
            <div class="col-md-4">
                <p class="ns-grid-container">col-md-4</p>
            </div>
        </div>
        <div class="grid">
            <div class="col-12">
                <h2 class="o-title o-title--h5">Documentation</h2>
                <a href="http://reflexgrid.com/docs/" target="_blank" title="reflexgrid" class="o-title o-title--h6 o-title--link">http://reflexgrid.com/docs/</a>
            </div>
        </div>
    </div>
</section>