<section class="ns-box container-full" id="table">
    <header class="ns-box__header">
        <h2 class="ns-box__title">Table</h2>
    </header>
    <div>
        <div class="grid">
            <div class="col-6">
                <table class="o-table">
                    <thead class="o-table__thead">
                        <tr class="o-table__tr">
                            <th class="o-table__th" scope="col">#</th>
                            <th class="o-table__th" scope="col">First</th>
                            <th class="o-table__th" scope="col">Last</th>
                            <th class="o-table__th" scope="col">Handle</th>
                        </tr>
                    </thead>
                    <tbody class="o-table__tbody">
                        <tr class="o-table__tr">
                            <th class="o-table__th" scope="row">1</th>
                            <td class="o-table__td">Mark</td>
                            <td class="o-table__td">Otto</td>
                            <td class="o-table__td">@mdo</td>
                        </tr>
                        <tr class="o-table__tr">
                            <th class="o-table__th" scope="row">2</th>
                            <td class="o-table__td">Jacob</td>
                            <td class="o-table__td">Thornton</td>
                            <td class="o-table__td">@fat</td>
                        </tr>
                        <tr class="o-table__tr">
                            <th class="o-table__th" scope="row">3</th>
                            <td class="o-table__td">Larry</td>
                            <td class="o-table__td">the Bird</td>
                            <td class="o-table__td">@twitter</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-6">
                <table class="o-table o-table--striped">
                    <thead class="o-table__thead">
                        <tr class="o-table__tr">
                            <th class="o-table__th" scope="col">#</th>
                            <th class="o-table__th" scope="col">First</th>
                            <th class="o-table__th" scope="col">Last</th>
                            <th class="o-table__th" scope="col">Handle</th>
                        </tr>
                    </thead>
                    <tbody class="o-table__tbody">
                        <tr class="o-table__tr">
                            <th class="o-table__th" scope="row">1</th>
                            <td class="o-table__td">Mark</td>
                            <td class="o-table__td">Otto</td>
                            <td class="o-table__td">@mdo</td>
                        </tr>
                        <tr class="o-table__tr">
                            <th class="o-table__th" scope="row">2</th>
                            <td class="o-table__td">Jacob</td>
                            <td class="o-table__td">Thornton</td>
                            <td class="o-table__td">@fat</td>
                        </tr>
                        <tr class="o-table__tr">
                            <th class="o-table__th" scope="row">3</th>
                            <td class="o-table__td">Larry</td>
                            <td class="o-table__td">the Bird</td>
                            <td class="o-table__td">@twitter</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>