<section class="ns-box container-full" id="typography">
    <header class="ns-box__header">
        <h2 class="ns-box__title">Typography</h2>
    </header>
    <div>
        <div class="grid">
            <div class="col-12">
                <p class="o-title o-title--h1">h1. Ninja seed heading</p>
                <p class="o-title o-title--h2">h2. Ninja seed heading</p>
                <p class="o-title o-title--h3">h3. Ninja seed heading</p>
                <p class="o-title o-title--h4">h4. Ninja seed heading</p>
                <p class="o-title o-title--h5">h5. Ninja seed heading</p>
                <p class="o-title o-title--h6">h6. Ninja seed heading</p>
            </div>
        </div>
        <div class="grid">
            <div class="col-12">
                <p class="o-txt">Paragraph - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer molestie lorem at massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer molestie lorem at massa consectetur adipiscing elit molestie lorem at mas.</p>
            </div>
            <div class="col-12">
                <p class="o-txt o-txt--bold">Paragraph - Bold</p>
            </div>
        </div>
        <div class="grid">
            <div class="col-12">
                <div>
                    <a class="o-txt o-txt--link" href="#" title="Link">Link - Ninja seed heading</a>
                </div>
            </div>
        </div>
    </div>
</section>