<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/front-modules.css">
    <script type="text/javascript" src="../libs/dependencies.js"></script>
    <script type="module" src="../js/front-dev.js"></script>
    <title>Index</title>
</head>

<body>
    <header class="menu grid">
        <div class="menu__logo col-2">
            <p>everis<strong>knowler</strong></p>
        </div>
        <form class="menu__search col-4" action="">
            <fieldset>
                <legend class="hide-accessible">Busqueda</legend>
                <input type="text" placeholder="proyecto skm">
            </fieldset>
        </form>
        <nav class="menu__nav col-4 grid">
            <ul>
                <li class="col-auto">
                    <a href="#">
                        <i class="fas fa-home"></i>
                        <p>Inicio</p>
                    </a>
                </li>
                <li class="col-auto">
                    <a href="#">
                        <i class="fas fa-th"></i>
                        <p>Aplicaciones</p>
                    </a>
                </li>
                <li class="col-auto">
                    <a href="#">
                        <i class="fas fa-globe"></i>
                        <p>Comunidades</p>
                    </a>
                </li>
                <li class="col-auto">
                    <a href="#">
                        <i class="fas fa-box"></i>
                        <p>everPedia</p>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="menu__profile col-2 grid">
            <a class="col-6" href="#">
                <i class="fas fa-bell"></i>
            </a>
            <figure class="col-6">
                <img src="../../assets/images/perfil/perfil@3x.png" alt="Perfil">
            </figure>
        </div>
    </header>

    <main>
        <article class="grid">
            <div class="col-3">
                <div class="container">
                    <div class="container__header">
                        <h1><i class="fas fa-calendar-alt"></i> Eventos</h1>
                        <a href="#">
                            <i class="fas fa-ellipsis-v"></i>
                        </a>
                    </div>
                    <div class="container__body">
                        <div class="container__day">
                            <h2>Hoy</h2>
                            <div class="container__date">
                                <div class="container__clock">
                                    <p>11:00</p>
                                </div>
                                <div class="container__site">
                                    <a href="#">SKM wireframes checkpoint</a>
                                    <p>11:00 a 12:00 - Sala 446</p>
                                </div>
                            </div>
                            <div class="container__date">
                                <div class="container__clock">
                                    <p>13:00</p>
                                </div>
                                <div class="container__site">
                                    <a href="#">SKM chill out</a>
                                    <p>13:00 a 13:40 - Sala 446</p>
                                </div>
                            </div>
                        </div>
                        <div class="container__day">
                            <h2>Mañana</h2>
                            <div class="container__date">
                                <div class="container__clock">
                                    <p>11:00</p>
                                </div>
                                <div class="container__site">
                                    <a href="#">SKM Wireframes check</a>
                                    <p>11:00 a 12:00 - Sala 446</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container__line"></div>
                    <div class="container__more">
                        <a href="#">Ver más <i class="fas fa-chevron-down"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="container">
                    <div class="container__header">
                        <h1><i class="fas fa-envelope"></i> Mails</h1>
                        <a href="#">
                            <i class="fas fa-ellipsis-v"></i>
                        </a>
                    </div>
                    <div class="container__body">
                        <div class="container__section">
                            <p>20/06/2017 - 13:00</p>
                            <div class="container__profile">
                                <figure>
                                    <img src="../../assets/images/perfil/perfil@3x.png" alt="">
                                </figure>
                                <p>Francisco Javier Fernández</p>
                            </div>
                            <a href="#">Nuevas versiones de las pantallas</a>
                            <p>Hola equipo, aquí tenéis las actualizaciones de las pantallas que comentamos el otro día.
                                Pero si tenéis cualquier duda me podéis escribir por email o me llamáis a mi móvil
                                [ANCHO MÁX 568PX]...</p>
                        </div>
                        <div class="container__line"></div>
                        <div class="container__section">
                            <p>20/06/2017 - 13:00</p>
                            <div class="container__profile">
                                <figure>
                                    <img src="../../assets/images/perfil/perfil@3x.png" alt="">
                                </figure>
                                <p>Francisco Javier Fernández</p>
                            </div>
                            <a href="#">Nuevos datos password (Invision/Zeplin...</a>
                            <p>Hola equipo, aquí van las actualizaciones de las pantallas que comentamos el día de la
                                reunión de la semana pasada. Si tenéis cualquier duda me escribís un correo os respondo
                                lo antes pos...</p>
                        </div>
                        <div class="container__line"></div>
                        <div class="container__section">
                            <p>20/06/2017 - 13:00</p>
                            <div class="container__profile">
                                <figure>
                                    <img src="../../assets/images/perfil/perfil@3x.png" alt="">
                                </figure>
                                <p>Francisco Javier Fernández</p>
                            </div>
                            <a href="#">Nuevas versiones de las pantallas</a>
                            <p>Hola equipo, aquí van las actualizaciones de las pantallas que comentamos el día de la
                                reunión de la semana pasada. Si tenéis cualquier duda me escribís un correo os respondo
                                lo antes pos...</p>
                        </div>
                    </div>
                    <div class="container__line"></div>
                    <div class="container__more">
                        <a href="#">Ver más <i class="fas fa-chevron-down"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="container">
                    <div class="container__header">
                        <h1><i class="fas fa-users"></i> Mis contactos</h1>
                        <a href="#">
                            <i class="fas fa-ellipsis-v"></i>
                        </a>
                    </div>
                    <nav class="container__nav">
                        <ul>
                            <li class="container__nav_active"><a href="#">Contactos</a></li>
                            <li><a href="#">Grupos</a></li>
                            <li><a href="#">Relacionados</a></li>
                        </ul>
                    </nav>
                    <div class="container__body container__body_contact">
                        <div class="container__section">
                            <div class="container__profile container__profile_contact">
                                <figure>
                                    <img src="../../assets/images/perfil/perfil@3x.png" alt="">
                                </figure>
                                <div>
                                    <a href="#">Raquel Laguna Soriano <i class="fas fa-chevron-down"></i></a>
                                    <p>Student - EDX</p>
                                </div>
                            </div>
                        </div>
                        <div class="container__line"></div>
                        <div class="container__section">
                            <div class="container__profile container__profile_contact">
                                <figure>
                                    <img src="../../assets/images/perfil/perfil@3x.png" alt="">
                                </figure>
                                <div>
                                    <a href="#">Álvaro Ruiz Miranda <i class="fas fa-chevron-down"></i></a>
                                    <p>Student - EDX</p>
                                </div>
                            </div>
                        </div>
                        <div class="container__line"></div>
                        <div class="container__section">
                            <div class="container__profile container__profile_contact">
                                <figure>
                                    <img src="../../assets/images/perfil/perfil@3x.png" alt="">
                                </figure>
                                <div>
                                    <a href="#">María López Segarra <i class="fas fa-chevron-down"></i></a>
                                    <p>Student - EDX</p>
                                </div>
                            </div>
                        </div>
                        <div class="container__line"></div>
                        <div class="container__section">
                            <div class="container__profile container__profile_contact">
                                <figure>
                                    <img src="../../assets/images/perfil/perfil@3x.png" alt="">
                                </figure>
                                <div>
                                    <a href="#">Francisco Javier Fernández <i class="fas fa-chevron-down"></i></a>
                                    <p>Student - EDX</p>
                                </div>
                            </div>
                        </div>
                        <div class="container__line"></div>
                        <div class="container__section">
                            <div class="container__profile container__profile_contact">
                                <figure>
                                    <img src="../../assets/images/perfil/perfil@3x.png" alt="">
                                </figure>
                                <div>
                                    <a href="#">Francisco Javier Fernández <i class="fas fa-chevron-down"></i></a>
                                    <p>Student - EDX</p>
                                </div>
                            </div>
                        </div>
                        <div class="container__line"></div>
                        <div class="container__section">
                            <div class="container__profile container__profile_contact">
                                <figure>
                                    <img src="../../assets/images/perfil/perfil@3x.png" alt="">
                                </figure>
                                <div>
                                    <a href="#">Francisco Javier Fernández <i class="fas fa-chevron-down"></i></a>
                                    <p>Student - EDX</p>
                                </div>
                            </div>
                        </div>
                        <div class="container__line"></div>
                        <div class="container__section">
                            <div class="container__profile container__profile_contact">
                                <figure>
                                    <img src="../../assets/images/perfil/perfil@3x.png" alt="">
                                </figure>
                                <div>
                                    <a href="#">Francisco Javier Fernández <i class="fas fa-chevron-down"></i></a>
                                    <p>Student - EDX</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </main>
</body>

</html>