<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/front-modules.css">
    <script type="text/javascript" src="../libs/dependencies.js"></script>
    <script type="module" src="../js/front-dev.js"></script>
    <title>Index</title>
</head>

<body>
    <header class="menu grid">
        <div class="menu__logo col-2">
            <p>everis<strong>knowler</strong></p>
        </div>
        <form class="menu__search col-4" action="">
            <fieldset>
                <legend class="hide-accessible">Busqueda</legend>
                <input type="text" placeholder="proyecto skm">
            </fieldset>
        </form>
        <nav class="menu__nav col-4 grid">
            <ul>
                <li class="col-auto">
                    <a href="#">
                        <i class="fas fa-home"></i>
                        <p>Inicio</p>
                    </a>
                </li>
                <li class="col-auto">
                    <a href="#">
                        <i class="fas fa-th"></i>
                        <p>Aplicaciones</p>
                    </a>
                </li>
                <li class="col-auto">
                    <a href="#">
                        <i class="fas fa-globe"></i>
                        <p>Comunidades</p>
                    </a>
                </li>
                <li class="col-auto">
                    <a href="#">
                        <i class="fas fa-box"></i>
                        <p>everPedia</p>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="menu__profile col-2 grid">
            <a class="col-6" href="#">
                <i class="fas fa-bell"></i>
            </a>
            <figure class="col-6">
                <img src="../../assets/images/perfil/perfil@3x.png" alt="Perfil">
            </figure>
        </div>
    </header>

    <main>
        
    </main>
</body>

</html>