<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/front-modules.css">
    <script type="text/javascript" src="../../libs/dependencies.js"></script>
    <script type="module" src="../../js/front-dev.js"></script>
    <title>Repository | Front Seed</title>
</head>

<body>
    <main class="ns-repository">
        <header class="ns-repository__header ns-header">
            <a href="../index.html" class="ns-header__link" title="index">
                <figure class="ns-header__figure">
                    <img src="../../assets/images/ninjaseed.png" alt="Logo" class="ns-header__image">
                </figure>
            </a>
            <h1 class="ns-header__title">Ninja Seed</h1>
        </header>
        <div class="ns-repository__layout">
            <div class="ns-repository__sidebar ns-sidebar" data-navigation="repository">
                <nav class="ns-sidebar__nav">
                    <ul class="ns-sidebar__list">
                        <li class="ns-sidebar__item">
                            <span class="ns-sidebar__txt">Content</span>
                            <ul class="ns-sidebar__sub-list">
                                <li class="ns-sidebar__sub-item">
                                    <a href="#typography" class="ns-sidebar__link ns-sidebar__link--selected" title="Typography">Typography</a>
                                </li>
                            </ul>
                        </li>
                        <li class="ns-sidebar__item">
                            <span class="ns-sidebar__txt">Components</span>
                            <ul class="ns-sidebar__sub-list">
                                <li class="ns-sidebar__sub-item">
                                    <a href="#button" class="ns-sidebar__link" title="Buttons">Buttons</a>
                                </li>
                                <li class="ns-sidebar__sub-item">
                                    <a href="#alerts" class="ns-sidebar__link" title="Alerts">Alerts</a>
                                </li>
                                <li class="ns-sidebar__sub-item">
                                    <a href="#cards" class="ns-sidebar__link" title="Cards">Cards</a>
                                </li>
                                <li class="ns-sidebar__sub-item">
                                    <a href="#inputs" class="ns-sidebar__link" title="Inputs">Inputs</a>
                                </li>
                                <li class="ns-sidebar__sub-item">
                                    <a href="#select" class="ns-sidebar__link" title="Select">Select</a>
                                </li>
                                <li class="ns-sidebar__sub-item">
                                    <a href="#checkbox" class="ns-sidebar__link" title="Checkbox">Checkbox</a>
                                </li>
                                <li class="ns-sidebar__sub-item">
                                    <a href="#radio" class="ns-sidebar__link" title="Radio">Radio</a>
                                </li>
                                <li class="ns-sidebar__sub-item">
                                    <a href="#breadcrumb" class="ns-sidebar__link" title="Breadcrumb">Breadcrumb</a>
                                </li>
                                <li class="ns-sidebar__sub-item">
                                    <a href="#table" class="ns-sidebar__link" title="Table">Table</a>
                                </li>
                            </ul>
                        </li>
                        <li class="ns-sidebar__item">
                            <span class="ns-sidebar__txt">Layout</span>
                            <ul class="ns-sidebar__sub-list">
                                <li class="ns-sidebar__sub-item">
                                    <a href="#reflex" class="ns-sidebar__link" title="Grid Reflex">Reflex</a>
                                </li>
                                <!-- <li class="ns-sidebar__sub-item">
                                    <a href="#nora" class="ns-sidebar__link" title="Grid Nora">Nora</a>
                                </li> -->
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="ns-repository__block">
                <!-- CONTENT: TYPOGRAPHY -->
                <div data-template="typography"></div>
                <!-- COMPONENTS: BUTTON -->
                <div data-template="buttons"></div>
                <!-- COMPONENTS: ALERTS -->
                <div data-template="alerts"></div>
                <!-- COMPONENTS: CARDS -->
                <div data-template="cards"></div>
                <!-- COMPONENTS: INPUTS -->
                <div data-template="inputs"></div>
                <!-- COMPONENTS: SELECT -->
                <div data-template="select"></div>
                <!-- COMPONENTS: CHECKBOX -->
                <div data-template="checkbox"></div>
                <!-- COMPONENTS: RADIO -->
                <div data-template="radio"></div>
                <!-- COMPONENTS: BREADCRUMBS -->
                <div data-template="breadcrumb"></div>
                <!-- COMPONENTS: TABLE -->
                <div data-template="table"></div>
                <!-- LAYOUT: REFLEX -->
                <div data-template="reflex"></div>
                <!-- LAYOUT: NORA -->
                <!-- <div data-template="nora"></div> -->
            </div>
        </div>
    </main>
</body>

</html>